*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "montserrat";
}

body {
  font-family: "Lato" sans-serif;
  font-weight: normal;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.app-wrapper {
  display: grid;
  justify-content: center;
}

.home {
  height: 100vh;
  width: 66vw;

  display: grid;
  align-content: space-around;
  justify-items: center;

  margin-top: 2rem;
  display: grid;
}

.post-topic {
  margin: 0 4px;
}

$color-gray-one: #666666;
$color-gray-two: #b3b3b3;

@import "./search-bar";
