*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "montserrat";
}

body {
  font-family: "Lato" sans-serif;
  font-weight: normal;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.app-wrapper {
  display: grid;
  justify-content: center;
}

.logo-main,
.recent-posts {
  display: grid;
  justify-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

$color-gray-one: #666666;
$color-gray-two: #b3b3b3;
$color-gray-three: #d8d8d8;
$color-blue-one: #0079ff;

.no-content {
  color: $color-gray-one;
}

@import "./mixins";
@import "./search-bar";
@import "./recent-posts";
@import "./post";
@import "./home";
@import "./results";
