.results {
  // @include default-page-layout();
  height: 100vh;
  width: 66vw;
  display: grid;

  margin-top: 52px;
  grid-row-gap: 44px;
}

.results-posts {
  display: grid;

  .results-posts_wrapper {
    .results-posts_posts {
      display: grid;
      grid-row-gap: 20px;
      justify-content: stretch;
    }
  }
}

.result-post {
  display: grid;
  align-content: space-around;
  grid-row-gap: 22px;

  .result-post_topics > * {
    color: $color-blue-one;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    padding-right: 15px;
  }

  .result-post_title a {
    color: $color-gray-one;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $color-blue-one;
    }
  }

  .result-post_links {
    display: flex;
  }
}

.post-link {
  min-height: 70px;
  display: flex;
  flex-basis: 205px;
  margin-right: 37px;

  .post-link_box {
    min-width: 70px;
    background-color: $color-gray-three;
    margin-right: 16px;
  }

  .post-link_link a {
    color: $color-gray-one;
    font-size: 14px;
    line-height: 17px;
  }
}
